body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

h1, h2 {
    color: #2c3e50;
}

.box {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 8px;
}

button, .btn {
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
}
